<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="company_stuff.css">
</head>
<body>
    <div class="main">
        <div class="right_box">
            <h2 class="queue_text">Customers</h2>
            <div class="rectangle1"></div>
            <div class="time_remaining_text"></div>
            <div class="bar1">
                <div class="max_bar"></div>
            </div>
        </div>
        <div class="left_box">
            <h2 class="queue_text">Queue</h2>
            <div class="rectangle2"></div>
            <div class="image">
                <img src="graph.png" alt="frequency of visiting">
            </div>
        </div>
    </div>
</body>
</html>
=