<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="inStore.css">
</head>

<body>
    <div class="main_box">
        <h3>Safety Tips:</h3>
        <ul class="safety_tips">
            <li>Keep a safe distance</li>
            <li>Wash hands often</li>
            <li>Cover your cough</li>
        </ul>
        <div class="image">
            <img src="frame.png" alt="Your QR code">
        </div>
    </div>
</body>

</html>
