<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="signin.css">
</head>

<body>
    <div>
        <h2>Sign in</h2>

        <h3>Email</h3>
        <input class="email_box" type="email" autofocus>
        <h3 class="password">Password</h3>

        <input class="password_box" type="password" autofocus>
        <p>Don't have an account? <a href="signup.html">Sign up</a></p>



        <button onclick="document.location = 'signin2.html'">Next</button>
    </div>
</body>

</html>
